:root
{
    /* ==============================================>>> ألوان <<<========================================== */
    /* ---------------------------------------------------------------- {{{ Dark }}} <<< */
    /* 
    Color
    */
    --color_1: rgb(239, 42, 127);
    --color_a: rgb(252, 214, 230);
    --color_light: rgb(239, 42, 127);

    --background_2: linear-gradient(180deg, rgb(82, 13, 43, 0.75), #000);
    /* ---------------------------------------------------------------- {{{ Dark }}} <<< */
}