:root
{
    /* ==============================================>>> ألوان <<<========================================== */
    /* ---------------------------------------------------------------- {{{ Dark }}} <<< */
    /* 
    Color
    */
    --color_1: rgb(86, 59, 222);
    --color_a: rgb(216, 214, 224);
    --color_light: rgb(86, 59, 222);

    --background_2: linear-gradient(180deg, rgb(23, 12, 77, 0.6), #000);
    /* ---------------------------------------------------------------- {{{ Dark }}} <<< */
}